@import 'buttons';
@import 'texts';

@keyframes green-flash {
	50% {
		background-color: $done-shade;
		box-shadow:0 0 5px $done-shade;
	}
}

%list-block-common {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	p, input {
		@extend %normal-text;

		flex: 1;
		margin: 0 10px;
	}

	button {
		@include icon-button($color1, $color1-shade, $color1-light);
	}
	.delete {
		@include icon-button($delete-color, $delete-shade, $delete-light);
	}
	.done {
		@include icon-button($done-color, $done-shade, $done-light);
	}
}

.list {
	@include layer-block($layer-1);
	border-radius: 0 5px 5px 0;
	padding-bottom: 20px;
	width: 60vw;
	overflow-y: auto;

	#no-selected-list {
		@extend %greyed-out;

		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	#empty-list {
		@extend %greyed-out;
	}
	#list-title {
		@extend %secondary-title;
	}
}

.task-item {
	@extend %list-block-common;

	@include layer-block($layer-4);

	border-radius: 5px;
	box-sizing: border-box;

	margin: 10px 20px;
	padding: 15px;
}

#input {
	@extend %list-block-common;

	@include layer-block($layer-7);

	margin-bottom: 20px;
	border-radius: 2px;
	padding: 15px;

	input {
		height: 50px;
		border-radius: 2px;
		border: 1px solid $color1;
		padding: 0 10px;
		color: black;
	}
}