@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap');

@import 'buttons';
@import 'colors';
@import 'list';

$main-font: 'Baloo 2';

* {
	font-family: $main-font;
	color: white;
}

body {
	background: $layer-0;
}

main {
	width: 100%;
	height: 100%;
}

h1 {
	text-align: center;
}
