@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap');

@import 'buttons';

$main-font: 'Baloo 2';

$color1: 		hsl(207, 78.3%, 63.1%);
$color1-shade: hsl(207, 88.3%, 40%);
$color1-light: hsl(207, 40%, 80%);

$delete-color: 	hsl(7, 78.3%, 63.1%);
$delete-shade: hsl(7, 88.3%, 40%);
$delete-light: hsl(7, 40%, 80%);

* {
	font-family: $main-font;
}

main {
	width: 50%;
	height: 100%;
}

h1 {
	text-align: center;
}

.item, #input {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	border-radius: 10px;
	border: 1px solid $color1;

	margin-bottom: 10px;
	padding: 15px;

	p, input {
		flex: 1;
		font-size: 18px;
		text-align: left;
		margin: 0 10px;
	}
	input {
		height: 50px;
	}
	button {
		@include icon-button($color1, $color1-shade, $color1-light)
	}
	.delete {
		@include icon-button($delete-color, $delete-shade, $delete-light);
	}
}